openapi: 3.0.3
info:
  title: Exhort API
  description: Vulnerability analysis with Red Hat Trusted Profile Analyzer
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  version: 3.0.0
servers:
- url: https://rhda.rhcloud.com/api/v3
  description: Production server
- url: https://exhort-alpha.stage.devshift.net/api/v3
  description: Staging server
- url: http://localhost:8080/api/v3
  description: Local development
paths:
  /analysis:
    post:
      operationId: analysis
      summary:  Takes a client-resolved dependency graph to perform a full stack analysis from all the available Vulnerability sources
      security:
        - RhdaTokenAuth: []
        - SnykTokenAuth: []
        - OssIndexUserAuth: []
          OssIndexTokenAuth: []
      parameters:
      - name: providers
        in: query
        description: List of vulnerability providers to get the report from
        required: false
        schema:
          enum:
          - snyk
          - oss-index
          type: string
        example: snyk
      requestBody:
        required: true
        description: Dependency graph in SBOM format
        content:
          application/vnd.cyclonedx+json:
            schema:
              type: object
          application/vnd.spdx+json:
            schema:
              type: object
      responses:
        '200':
          description: Full dependency analysis from all the available providers
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalysisReport'
            text/html:
              schema:
                type: object
            multipart/mixed:
              schema:
                type: object
                properties:
                  json_report:
                    $ref: '#/components/schemas/AnalysisReport'
                  html_report:
                    type: object
        '422':
          description: Invalid request
          content:
            text/plain:
              schema:
                type: string
                description: Error message  
  /token:
    get:
      operationId: validateToken
      summary: Validates a vulnerability provider token
      security:
        - RhdaTokenAuth: []
        - SnykTokenAuth: []
        - OssIndexUserAuth: []
          OssIndexTokenAuth: []
      responses:
        '200':
          description: Successful token validation
          content:
            text/plain:
              schema:
                type: string
                description: Response message
        '401':
          description: Invalid token
          content:
            text/plain:
              schema:
                type: string
                description: Error message
        '403':
          description: Forbidden. The token does not have permissions
          content:
            text/plain:
              schema:
                type: string
                description: Error message
        '429':
          description: Too many requests. Rate limit exceeded
          content:
            text/plain:
              schema:
                type: string
                description: Error message
        '400':
          description: Invalid request
          content:
            text/plain:
              schema:
                type: string
                description: Missing token

components:
  securitySchemes:
    RhdaTokenAuth:
      type: apiKey
      in: header
      name: rhda-token
    SnykTokenAuth:
      type: apiKey
      in: header
      name: ex-snyk-token
    OssIndexUserAuth:
      type: apiKey
      in: header
      name: ex-oss-index-name
    OssIndexTokenAuth:
      type: apiKey
      in: header
      name: ex-oss-index-token
  schemas:
    AnalysisReport:
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/Summary'
        dependencies:
          type: array
          items:
            $ref: '#/components/schemas/DependencyReport'
    PackageRef:
      type: object
      description: PackageURL used to identify a dependency artifact
      example: pkg:maven/io.quarkus/quarkus-hibernate-orm@2.13.5.Final
    DependencyReport:
      type: object
      properties:
        ref:
          $ref: '#/components/schemas/PackageRef'
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
        transitive:
          type: array
          items:
            $ref: '#/components/schemas/TransitiveDependencyReport'
        recommendation:
          description: Trusted Content recommendation that is not related to any security vulnerability
          allOf:
            - $ref: '#/components/schemas/PackageRef'
        remediations:
          description: Trusted Content remediation related to identified security vulnerabilities
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Remediation'
        highestVulnerability:
          description: Highest vulnerability found for this dependency
          $ref: '#/components/schemas/Issue'
      example:
        ref: pkg:maven/io.quarkus/quarkus-jdbc-postgresql@2.13.5.Final
        issues:
          - id: SNYK-JAVA-COMFASTERXMLJACKSONCORE-3038426
            title: Denial of Service (DoS)
            source: snyk
            cvss:
              attackVector: Network
              attackComplexity: High
              privilegesRequired: None
              userInteraction: None
              scope: Unchanged
              confidentialityImpact: None
              integrityImpact: None
              availabilityImpact: High
              exploitCodeMaturity: Proof of concept code
              remediationLevel:
              reportConfidence:
              cvss: CVSS:3.1/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:N/A:H/E:P
            cvssScore: 5.9
            severity: MEDIUM
            cves:
            - CVE-2022-42003
        transitive:
          - ref: pkg:maven/com.fasterxml.jackson.core/jackson-databind@2.13.1.Final
            issues:
              - id: SNYK-JAVA-COMFASTERXMLJACKSONCORE-3038426
                title: Denial of Service (DoS)
                source: snyk
                cvss:
                  attackVector: Network
                  attackComplexity: High
                  privilegesRequired: None
                  userInteraction: None
                  scope: Unchanged
                  confidentialityImpact: None
                  integrityImpact: None
                  availabilityImpact: High
                  exploitCodeMaturity: Proof of concept code
                  remediationLevel:
                  reportConfidence:
                  cvss: CVSS:3.1/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:N/A:H/E:P
                cvssScore: 5.9
                severity: MEDIUM
                cves:
                - CVE-2022-42003
        remediations:
          CVE-2022-41946:
            issueRef: CVE-2022-41946
            mavenPackage: pkg:maven/com.fasterxml.jackson.core/jackson-databind@2.13.1.Final-redhat-00002
            productStatus: known_not_affected
    Severity:
      type: string
      enum:
        - CRITICAL
        - HIGH
        - MEDIUM
        - LOW
    Issue:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        source:
          type: string
        cvss:
          $ref: '#/components/schemas/CvssVector'
        cvssScore:
          type: number
          format: float
        severity:
          $ref: '#/components/schemas/Severity'
        cves:
          type: array
          items:
            type: string
        unique:
          type: boolean
          default: false
      example:
        id: SNYK-JAVA-COMFASTERXMLJACKSONCORE-3038426
        title: Denial of Service (DoS)
        source: snyk
        cvss:
          attackVector: Network
          attackComplexity: High
          privilegesRequired: None
          userInteraction: None
          scope: Unchanged
          confidentialityImpact: None
          integrityImpact: None
          availabilityImpact: High
          exploitCodeMaturity: Proof of concept code
          remediationLevel:
          reportConfidence:
          cvss: CVSS:3.1/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:N/A:H/E:P
        cvssScore: 5.9
        severity: MEDIUM
        cves:
        - CVE-2022-42003
    TransitiveDependencyReport:
      type: object
      properties:
        ref:
          $ref: '#/components/schemas/PackageRef'
        issues:
          type: array
          items:
            $ref: '#/components/schemas/Issue'
        remediations:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/Remediation'
        highestVulnerability:
          description: Highest vulnerability found for this dependency
          $ref: '#/components/schemas/Issue'
      example:
        ref: pkg:maven/org.postgresql/postgresql@42.5.0
        issues:
          - id: SNYK-JAVA-COMFASTERXMLJACKSONCORE-3038426
            title: Denial of Service (DoS)
            source: snyk
            cvss:
              attackVector: Network
              attackComplexity: High
              privilegesRequired: None
              userInteraction: None
              scope: Unchanged
              confidentialityImpact: None
              integrityImpact: None
              availabilityImpact: High
              exploitCodeMaturity: Proof of concept code
              remediationLevel:
              reportConfidence:
              cvss: CVSS:3.1/AV:N/AC:H/PR:N/UI:N/S:U/C:N/I:N/A:H/E:P
            cvssScore: 5.9
            severity: MEDIUM
            cves:
            - CVE-2022-42003
    Remediation:
      type: object
      properties:
        issueRef:
          type: string
        mavenPackage:
          $ref: '#/components/schemas/PackageRef'
        productStatus:
          type: string
      example:
        issueRef: CVE-2022-41946
        mavenPackage: pkg:maven/io.quarkus/quarkus-jdbc-postgresql@2.13.7.Final-redhat-00003
        productStatus: fixed
    Summary:
      type: object
      properties:
        dependencies:
          $ref: '#/components/schemas/DependenciesSummary'
        vulnerabilities:
          $ref: '#/components/schemas/VulnerabilitiesSummary'
        providerStatuses:
          type: array
          items:
              $ref: '#/components/schemas/ProviderStatus'
    DependenciesSummary:
      type: object
      properties:
        scanned:
          type: integer
        transitive:
          type: integer
    VulnerabilitiesSummary:
      type: object
      properties:
        direct:
          type: integer
        total:
          type: integer
        critical:
          type: integer
        high:
          type: integer
        medium:
          type: integer
        low:
          type: integer
    ProviderStatus:
      type: object
      properties:
        ok:
          type: boolean
        provider:
          type: string
        status:
          type: integer
        message:
          type: string
    CvssVector:
      type: object
      properties:
        attackVector:
          type: string
        attackComplexity:
          type: string
        privilegesRequired:
          type: string
        userInteraction:
          type: string
        scope:
          type: string
        confidentialityImpact:
          type: string
        integrityImpact:
          type: string
        availabilityImpact:
          type: string
        exploitCodeMaturity:
          type: string
        remediationLevel:
          type: string
        reportConfidence:
          type: string
        cvss:
          type: string