apiVersion: v1
kind: Namespace
metadata:
  name: trusted-content
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: swio-deployment
  namespace: trusted-content
  labels:
    app: swio
spec:
  replicas: 1
  selector:
    matchLabels:
      app: swio
  template:
    metadata:
      labels:
        app: swio
    spec:
      containers:
      - name: swio
        image: ghcr.io/seedwing-io/swio:0.1.0-trusted
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 8080
        resources:
          limits:
            memory: "128Mi"
            cpu: "500m"
---
apiVersion: v1
kind: Service
metadata:
  labels:
    app: swio
  name: swio
  namespace: trusted-content
spec:
  ports:
  - name: "8080"
    port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: swio
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  labels:
    app: swio
  name: swio
  namespace: trusted-content
spec:
  port:
    targetPort: 8080
  to:
    kind: Service
    name: swio